body {
	background-color: #4B4E4E;
	font-family: sans-serif;
	margin-left: 25px;
}

#calculator {
	display: flex;
	margin: 0 auto;
	width: 400px;
	height: 400px;
	flex-wrap: wrap;
	align-items: flex-start;
}

#display {
	width: 375px;
	height: 75px;
	color: white;
	font-size: 2em;
	text-align: right;
	overflow: wrap;
}

#memory {
	width: 360px;
	height: 50px;
	color: white;
	background-color: #3E3E3E;
	padding: 10px;
	font-size: 1.5em;
	margin-top: 40px;
	border-radius: 10px;
	word-wrap: break-word;
}

.keys {
	width: 75px;
	height: 75px;
	margin-right: 25px;
	margin-bottom: 25px;
	background-color: #6C6C6C;
	border-radius: 10px;
	padding: 10px;
	font-size: 2.5em;
	color: #fff;
	border: 0;
}

.operators {
	background-color: #F79D3D;
}

.double {
	width: 170px;
}